.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgreen;
    font-weight: 800;
    text-align: center;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}